<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Spam Comment Detection & XAI</a>
      <ul class="right hide-on-med-and-down">
          <li><a id="nav-comment" href="#">Comment Analysis</a></li>
          <li><a id="nav-spam" href="#">Top Spam Words</a></li>
</ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="analyze-comment container">
      <br><br>
      <h1 class="header center orange-text">Analyze Comment!</h1>
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
        <br>
    </div>
    <div class="spam-words container hide">
      <br><br>
      <h1 class="header center orange-text">Top Spam Words</h1>
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
        <br>
    </div>
  </div>
    
  <div class="analyze-comment container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m1">
        </div>
          
        <div class="col s12 m10">
              <div class="center">
                <form id="comment-form">
                  <div class="input-field col s12">
                    <i class="tiny material-icons prefix">mode_edit</i>
                    <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                    <label for="textarea2">Write the comment</label>
                  </div>
                  <button class="center btn waves-effect waves-light" type="submit">Submit
                    <i class="material-icons right">send</i>
                  </button>
                </form>
              </div>   
              <div class="center image-getter1 hide">
                <img id="image2" src="static/img/fig1.png" style="height:500px">
              </div> 

        </div>
          
        <div class="col s12 m1">
        </div>
      </div>

    </div>
    <br><br>
  </div>
    
  <div class="spam-words container hide">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m1">
        </div>
          
        <div class="col s12 m10">
              <div class="center">
                  <form id="spam-form">
                      <div class="input-field">
                          <i class="tiny material-icons prefix">mode_edit</i>
                          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                          <label for="icon_prefix2">Amount of words</label>
                        </div>
                      <button class="center btn waves-effect waves-light" type="submit">Submit
                        <i class="material-icons right">send</i>
                      </button>
                </form>
              </div>  
              <div class="center image-getter2 hide">
                <img id="image2" src="static/img/fig1.png" style="height:500px">
              </div>
        </div>
          
        <div class="col s12 m1">
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Info</h5>
          <p class="grey-text text-lighten-4">Welcome to the toxic comment detection team's demo page. We used machine learning neural networks with various techniques including CNN, GRU and attention models in our project</p>
        </div>
        <div class="col l6 s12">
          <h5 class="white-text">Team Member</h5>
          <ul>
              <li>Hangil Lee</li>
              <li>Jaeseo Lee</li>
              <li>Seungwoo Lee</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by CS409
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
    
    <!-- JS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/materialize.js"></script>
	<script type="text/javascript" src="static/js/init.js"></script>
</html>
